{% extends "layout.html.twig" %}

{% set navtab = 'projects' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <section class="well">
                <h3>Hello</h3>
                <p>lipsum</p>
            </section>
        </div>
        <div class="col-md-6">
            <section class="well">
                <a class="btn btn-primary" href="projects/create">Nouveau project</a>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <section class="well">
                <h3>Hello</h3>
                <p>lipsum</p>
            </section>
        </div>
        <div class="col-md-4">
            <section class="well">
                <h3>Hello</h3>
                <p>lipsum</p>
            </section>
        </div>
        <div class="col-md-4">
            <section class="well">
                <h3>Hello</h3>
                <p>lipsum</p>
            </section>
        </div>
    </div>
</div>
{% endblock %}