{% extends "layout.html.twig" %}

{% set navtab = 'history' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <section class="well">
                <h3>Mes historiques</h3>
                {% for history in historytAssignedToMe %}
                <p><a href="ticket/{{ history.idHistory }}/show">#&nbsp;{{ history.title }}</a></p>
                {% else %}
                <div class="alert alert-warning">Aucune historique !</div>
                {% endfor %}
            </section>
        </div>
    </div>
</div>
{% endblock %}