{% extends "layout.html.twig" %}

{% set navtab = 'stats' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <section class="well">
                <h3>Mes statistiques</h3>
                {% for stats in statsAssignedToMe %}
                <p><a href="stats/{{ stats.idStats }}/show">#&nbsp;{{ stats.title }}</a></p>
                {% else %}
                <div class="alert alert-warning">Aucune statistiques !</div>
                {% endfor %}
            </section>
        </div>
    </div>
</div>
{% endblock %}